---
import { Picture } from "astro:assets";
import imgMeli from "../assets/imgMeli.png";
---

<section
  class="flex flex-col md:flex-row gap-9 items-center lg:justify-center bg-blue-50 rounded-xl max-w-10/12 md:max-w-11/12 xl:max-w-8/12 mx-auto"
>
  <div
    class="flex flex-col items-center gap-4 lg:gap-5 max-w-xl pt-4 px-4 xs:px-6 md:py-16 md:px-10 lg:py-18"
  >
    <div class="flex flex-col gap-2 text-center md:text-start">
      <h1 class="text-4xl lg:text-6xl font-bold text-blue-400">
        Melissa Villa
      </h1>
      <p class="text-base md:text-lg lg:text-xl font-medium text-gray-800">
        Soy estudiante de Ingeniería de Sistemas, actualmente en 10.º semestre.
        Me apasiona el desarrollo web frontend, porque para mí es como una forma
        de arte: me gusta llamarlo “colorear paginitas".
      </p>
    </div>
  </div>
  <Picture
    class="max-w-52 sm:max-w-xs md:rounded-br-xl"
    src={imgMeli}
    alt={"Hero img"}
  />
</section>
