---
const { hobbie } = Astro.props;
const { titulo, descripcion, icon } = hobbie;
---

<article
  class="flex flex-col p-4 min-w-44 max-w-md border border-blue-400 m-2.5 rounded-lg bg-blue-100"
>
  <div class="flex justify-between">
    <h4 class="text-xl font-semibold text-blue-500">{titulo}</h4>
    <img src={icon} alt="icon" />
  </div>
  <p>{descripcion}</p>
</article>
