<nav
  class="flex justify-between mb-4 px-4 py-2 lg:rounded-b-xl lg:w-5/6 lg:mx-auto bg-blue-200"
>
  <h4 class="my-auto text-2xl font-semibold italic text-blue-500">MaVilla</h4>
  <div>
    <p class="italic font-semibold text-blue-500">Melissa Villa</p>
    <p class="italic text-right text-blue-500">10ยบ</p>
  </div>
</nav>
